@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    /* Cabecera de página */
    .header-content {
        position: absolute;
        left: 0.5%;
        top: 5%;
        width: 23.39vh;
        height: 11.3vh;
        display: flex;
        align-items: center;
    }

    .header-logo {
        max-width:  11.3vh;
        max-height: 11.3vh;
        object-fit: contain;
    }

    .header-title {
        margin-left: 1.98vh;
        font-size: 4.44vh;
        width: 16.41vh;
        height: 3.11vh;
        display: flex;
        align-items: center;
        color: white;
        font-family: 'Montserrat', sans-serif;
        -webkit-text-stroke: 0.06vh black;
    }

    /* Barra de navegación */
    .nav-bar-text {
        font-size: clamp(3.6vh, 2vw, 4.78vh);
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-weight: 500;
        text-align: center;

        -webkit-text-stroke: 0.03vh black;
    }
    
    /* Inicio de sesión / registro */

    .login-section {
        position: absolute;
        top: 20%;
        left: 15%;
        width: 70vw;
        height: 70vh;
        border: 0.37vh solid theme('colors.main-dark-blue');
        border-radius: 4.44vh;
        display: flex;
        overflow: hidden;
    }

    .login-separator {
        width: 0.37vh;
        background-color: theme('colors.main-dark-blue');
    }

    /* Botones */
    .custom-button {
        @apply bg-main-dark-blue hover:bg-main-blue-button transition-colors duration-150 ease-in-out text-white
    }

    /* Estilos del Diagrama de Gantt y Calendario */
    .gantt-diagram-section {
        position: absolute;
        top: 29%;
        left: 1%;
        width: 98vw;
        height: 70vh;
        border: 1vh solid theme('colors.main-dark-blue');
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .class-diagram-section {
        position: absolute;
        top: 29%;
        left: 1%;
        width: 98vw;
        height: 70vh;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    .page-title {
        @apply text-[clamp(3.6vh,2vw,4.78vh)] underline font-bold font-montserrat text-main-dark-blue text-left ml-[1vw] pt-[1vh];
    }
    
}